<IfModule mod_rewrite.c>

    RewriteEngine On

    RewriteBase /

    Options +FollowSymLinks
    IndexIgnore */*

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . index.php


    RewriteRule ^(.*)(.png|.jpg|.gif|.js|css|.ttf|.eom|.woff|.svg) $1$2 [L]
    RewriteRule ^(.git|.env|application|runtime|vendor)/(.*) error [F]
    RewriteRule ^(application|vendor)/(.*)\.(txt|xml|md|html|yaml|php|pl|py|cgi|twig|sh|bat)$ error [F]
    RewriteRule \.md$ error [F]
    RewriteRule (^|/)\.(?!well-known) - [F]
    RewriteRule ^(LICENSE.txt|composer.lock|composer.json|\.htaccess)$ error [F]
</IfModule>
