.oakcms-filter ul.filter-variants {
    padding-left: 0px;
    margin-left: 0px;
}
.oakcms-filter .filter-variants li {
    width: 170px;
    float: left;
    padding: 3px;
    margin: 1px;
    float: left;
    list-style: none;
}

.oakcms-filter .new-variant {
    clear: both;
}

.oakcms-filter .new-variant input {
    margin-right: 2px;
    width: 100%;
    display: inline;
}
