.pistol88-filter ul.filter-variants {
    padding-left: 0px;
    margin-left: 0px;
}
.pistol88-filter .filter-variants li {
    width: 170px;
    float: left;
    padding: 3px;
    margin: 1px;
    float: left;
    list-style: none;
}

.pistol88-filter .new-variant {
    clear: both;
}

.pistol88-filter .new-variant input {
    margin-right: 2px;
    width: 150px;
    display: inline;
}