
<!-- article content-->
<article>
  <div class="block-img">
    <div class="image-holder"><img src="img/content/img-news.jpg" alt="Все о работе в офисе: очень хорошая  зарплата и  работа" class="fake-img"/>
      <div style="background: url('img/content/img-news.jpg') no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
    </div>
  </div>
  <h1>Все о работе в офисе: очень хорошая  зарплата и  работа</h1>
  <div class="block-info-article inline-layout">
    <time>04.01.2017</time>
    <p class="view-user">15 пользователей</p>
  </div>
  <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
  <h2>Ordered and unordered lists</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>A incidunt officia rem aliquid.</li>
    <li>Iure nobis quam minus aut!</li>
    <li>Repellat laudantium repudiandae aspernatur molestias!</li>
    <li>Id sunt voluptate unde soluta!</li>
  </ul>
  <ol>
    <li>Tempore quis odio voluptates porro.</li>
    <li>Dolorum minus soluta, itaque quia?</li>
    <li>Labore nesciunt sint laboriosam aperiam.</li>
    <li>Cum reiciendis ea perferendis non.</li>
    <li>Ipsa earum, totam minus. Nemo.</li>
    <li>Non necessitatibus a sequi laboriosam!</li>
    <li>Tempora eos quod quas possimus.</li>
    <li>Itaque quasi vero, aliquid earum!</li>
    <li>Tempore, repellendus quos fugiat aliquam.</li>
    <li>Asperiores quam, dolorem possimus maiores!</li>
    <li>Eaque ab magni, delectus omnis.</li>
    <li>Optio accusamus nisi error aspernatur!</li>
  </ol>
  <div data-services="facebook,vkontakte,twitter,odnoklassniki,gplus" class="ya-share2"></div>
</article>