
<div style="animation-delay: 0.3s" data-wow-delay="0.3s" class="block_category_link wow fadeIn">
  <div class="container">
    <div class="block_phone_fixed"><a href="tel:+38 /067/ 362 04 74">+38 /067/ 362 04 74</a></div>
    <h2>Каталог вакансий</h2>
    <div class="list_category_link">
      <div class="item_category">
        <h4><a href="#">Lorem Ipsum</a></h4>
        <div class="list_subcategory">
          <p class="item"><a href="#">Lorem Ipsum</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;</a></p>
          <p class="item"><a href="#">Lorem Ipsum</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;</a></p>
          <p class="item"><a href="#">Lorem Ipsum</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый </a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый </a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый </a></p>
          <p class="item"><a href="#">Lorem Ipsum</a></p>
        </div>
      </div>
      <div class="item_category">
        <h4><a href="#">Lorem Ipsum</a></h4>
        <div class="list_subcategory">
          <p class="item"><a href="#">Lorem Ipsum</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;</a></p>
          <p class="item"><a href="#">Lorem Ipsum</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;</a></p>
          <p class="item"><a href="#">Lorem Ipsum</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый </a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый </a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый </a></p>
          <p class="item"><a href="#">Lorem Ipsum</a></p>
        </div>
      </div>
      <div class="item_category">
        <h4><a href="#">Lorem Ipsum</a></h4>
        <div class="list_subcategory">
          <p class="item"><a href="#">Lorem Ipsum</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;</a></p>
          <p class="item"><a href="#">Lorem Ipsum</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;</a></p>
          <p class="item"><a href="#">Lorem Ipsum</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый </a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый </a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.</a></p>
          <p class="item"><a href="#">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый </a></p>
          <p class="item"><a href="#">Lorem Ipsum</a></p>
        </div>
      </div>
    </div>
  </div>
</div>