
<div class="block_advantages">
  <div class="container">
    <div class="list_advantages inline-layout col-2">
      <div class="item inline-layout">
        <div class="block_text">
          <h4>100% гарантия результата</h4>
          <p>За 10 лет нашей работы мы сформировали большую базу проверенных и надежных работодателей.</p>
        </div>
        <div class="block_img"><img src="img/icons/icon-services1.png" alt="100% гарантия результата"/></div>
      </div>
      <div class="item inline-layout">
        <div class="block_text">
          <h4>Поддержка менеджера</h4>
          <p>С момента первого звонка и на всех этапах трудоустройства Вас сопровождает личный менеджер</p>
        </div>
        <div class="block_img"><img src="img/icons/icon-services2.png" alt="Поддержка менеджера"/></div>
      </div>
      <div class="item inline-layout">
        <div class="block_text">
          <h4>Наличие бесплатных вакансий</h4>
          <p>Вы получаете специальные предложения, согласно вашей специальности</p>
        </div>
        <div class="block_img"><img src="img/icons/icon-services3.png" alt="Наличие бесплатных вакансий"/></div>
      </div>
      <div class="item inline-layout">
        <div class="block_text">
          <h4>10 лет на рынке</h4>
          <p>Вы получаете прямую вакансию от  работодателя, проверенного временем</p>
        </div>
        <div class="block_img"><img src="img/icons/icon-services4.png" alt="10 лет на рынке"/></div>
      </div>
      <div class="item inline-layout">
        <div class="block_text">
          <h4>437 проверенных работодателей</h4>
          <p>Вы имеете возможность работать вместе с украинцами, которые уже воспользовались нашими услугами</p>
        </div>
        <div class="block_img"><img src="img/icons/icon-services5.png" alt="437 проверенных работодателей"/></div>
      </div>
      <div class="item inline-layout">
        <div class="block_text">
          <h4>Индивидуальный подход</h4>
          <p>Мы работаем не с группами клиентов, а с каждым человеком индивидуально</p>
        </div>
        <div class="block_img"><img src="img/icons/icon-services6.png" alt="Индивидуальный подход"/></div>
      </div>
    </div>
  </div>
</div>