
<div class="block_feedback">
  <h2>Что о нас говорят клиенти?</h2>
  <div class="list_feedback inline-layout col-3">
    <div class="item">
      <div class="block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <h4>Все о работе на стройках: большие зарплаты и хорошая работа</h4>
    </div>
    <div class="item">
      <div class="block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <h4>ТРУДОУСТРОЙСТВО ЗА РУБЕЖОМ: РЕАЛЬНОСТЬ И ПЕРСПЕКТИВЫ</h4>
    </div>
    <div class="item">
      <div class="block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <h4>Робота на мойке: взвешивание Всех за и против</h4>
    </div>
    <div class="item">
      <div class="block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <h4>Все о работе на стройках: большие зарплаты и хорошая работа</h4>
    </div>
    <div class="item">
      <div class="block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <h4>ТРУДОУСТРОЙСТВО ЗА РУБЕЖОМ: РЕАЛЬНОСТЬ И ПЕРСПЕКТИВЫ</h4>
    </div>
    <div class="item">
      <div class="block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <h4>Робота на мойке: взвешивание Всех за и против</h4>
    </div>
    <div class="item">
      <div class="block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <h4>Все о работе на стройках: большие зарплаты и хорошая работа</h4>
    </div>
    <div class="item">
      <div class="block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <h4>ТРУДОУСТРОЙСТВО ЗА РУБЕЖОМ: РЕАЛЬНОСТЬ И ПЕРСПЕКТИВЫ</h4>
    </div>
    <div class="item">
      <div class="block_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <h4>Робота на мойке: взвешивание Всех за и против</h4>
    </div>
  </div>
</div>