
<div style="animation-delay: 0.3s" data-wow-delay="0.3s" class="block_video_slider wow fadeIn">
  <div class="container">
    <h2>Отзывы клиентов</h2>
    <div class="item-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <!--.owl-carousel.list_video_slider
    .item-video
        iframe(width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen)
    
    .item-video
        iframe(width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen)
    .item-video
        iframe(width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen)
    .item-video
        iframe(width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen)
    .item-video
        iframe(width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen)
    .item-video
        iframe(width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen)
    .item-video
        iframe(width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen)
    
    -->
    <!--.owl-carousel.list_thumbs_video
    .item
        img(src="img/content/video_img.jpg" alt="name")
    .item
        img(src="img/content/video_img2.jpg" alt="name")
    .item
        img(src="img/content/video_img.jpg" alt="name")
    .item
        img(src="img/content/video_img2.jpg" alt="name")
    .item
        img(src="img/content/video_img.jpg" alt="name")
    .item
        img(src="img/content/video_img2.jpg" alt="name")
    .item
        img(src="img/content/video_img2.jpg" alt="name")
    -->
  </div>
</div>