
<div class="block_contact">
  <div class="list_contacts">
    <div class="item">
      <h4>Украина</h4>
      <ul class="list_contact_item inline-layout col-3">
        <li class="phone">
          <h5>Служба поддержки клиентов</h5>
          <div class="text_desc">Cвяжитесь с нами по телефону</div><a href="tel:= phone1">+38 050 371 98 00</a><a href="tel:= phone2">+38 067 362 04 74</a><a href="tel:= phone3">+38 050 111 11 11</a>
        </li>
        <li class="email">
          <h5>Напишите нам на e-mail</h5>
          <div class="text_desc">Мы с удовольствием ответим на ваши вопросы по электронной почте</div><a href="mailto:= email">info@eurowork.com.ua</a>
        </li>
        <li class="address">
          <h5>Мы находимся по адресу</h5>
          <div class="text_desc"></div>
          <address>Украина, г.Ровно, <br>ул.Княгини Ольги, 5, оф. 314</address>
          <div class="timework">Пн-Пт - 09:00-18:00, <br>Сб - Вc - выходной</div>
        </li>
      </ul>
      <div id="map1" class="map_wrap"></div>
    </div>
    <div class="item">
      <h4>Польша</h4>
      <ul class="list_contact_item inline-layout col-3">
        <li class="phone">
          <h5>Служба поддержки клиентов</h5>
          <div class="text_desc">Cвяжитесь с нами по телефону</div><a href="tel:= phone1">+48 500 87 83 62</a>
        </li>
        <li class="email">
          <h5>Напишите нам на e-mail</h5>
          <div class="text_desc">Мы с удовольствием ответим на ваши вопросы по электронной почте</div><a href="mailto:= email">info@eurowork.com.ua</a>
        </li>
        <li class="address">
          <h5>Мы находимся по адресу</h5>
          <div class="text_desc"></div>
          <address>Poland <br>Katowice, <br>ul.Sobieskiego, 11</address>
          <div class="timework"></div>
        </li>
      </ul>
      <div id="map2" class="map_wrap"></div>
    </div>
  </div>
</div>
<div class="form-contact">
  <form>
    <h4>СПРОСИте НАС О ВАКАНСИИ</h4>
    <p class="contact"> Поля отмечены * обязательны для заполнения</p>
    <div class="form-group">
      <input type="text" placeholder="введите ваше имя *" name="name" data-validate="name"/>
    </div>
    <div class="form-group">
      <input type="text" placeholder="номер телефона *" name="phone" data-validate="phone"/>
    </div>
    <div class="form-group">
      <input type="text" placeholder="E-mail" name="email" data-validate="email-default"/>
    </div>
    <div class="form-group">
      <textarea placeholder="Ваш вопрос" name="comment" data-validate="empty"></textarea>
    </div>
    <div class="form-group input-file-form clearfix">
      <input type="file" name="file"/>
      <div class="fake-input-file"></div>
    </div>
    <div class="form-group clearfix">
      <input type="submit" value="задать вопрос"/>
    </div>
  </form>
</div>