
<div id="block_vacancy" class="block_vacancy">
  <div class="container inline-layout col-5">
    <div class="item inline-layout"><a href="#" class="name">Работник на производство пластмасовых изделий</a>
      <div class="img-holder"><img src="img/content/video_img2.jpg" alt="Работник на производство пластмасовых изделий"/></div>
      <div class="block_text">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.</div>
    </div>
    <div class="item inline-layout"><a href="#" class="name">Работник на производство пластмасовых изделий</a>
      <div class="img-holder"><img src="img/content/video_img2.jpg" alt="Работник на производство пластмасовых изделий"/></div>
      <div class="block_text">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.</div>
    </div>
    <div class="item inline-layout"><a href="#" class="name">Работник на производство пластмасовых изделий</a>
      <div class="img-holder"><img src="img/content/video_img2.jpg" alt="Работник на производство пластмасовых изделий"/></div>
      <div class="block_text">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.</div>
    </div>
    <div class="item inline-layout"><a href="#" class="name">Работник на производство пластмасовых изделий</a>
      <div class="img-holder"><img src="img/content/video_img2.jpg" alt="Работник на производство пластмасовых изделий"/></div>
      <div class="block_text">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.</div>
    </div>
    <div class="item inline-layout"><a href="#" class="name">Работник на производство пластмасовых изделий</a>
      <div class="img-holder"><img src="img/content/video_img2.jpg" alt="Работник на производство пластмасовых изделий"/></div>
      <div class="block_text">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.</div>
    </div>
  </div>
</div>