
<div class="form-contact">
  <form>
    <h4>СПРОСИТЕ НАС О ВАКАНСИИ</h4>
    <p>Поля отмечены * обязательны<br/>для заполнения</p>
    <div class="form-group">
      <input type="text" placeholder="введите ваше имя *" name="name" data-validate="name"/>
    </div>
    <div class="form-group">
      <input type="text" placeholder="номер телефона *" name="phone" data-validate="phone"/>
    </div>
    <div class="form-group">
      <input type="text" placeholder="E-mail" name="email" data-validate="email-default"/>
    </div>
    <div class="form-group">
      <textarea placeholder="Ваш вопрос" name="comment" data-validate="empty"></textarea>
    </div>
    <div class="form-group input-file-form clearfix">
      <input type="file" name="file"/>
      <div class="fake-input-file"></div>
    </div>
    <div class="form-group clearfix">
      <input type="submit" value="задать вопрос"/>
    </div>
  </form>
</div>