
<div class="block_feedback_slider_sidebar">
  <h3>Отзывы клиентов</h3>
  <div class="list_feedback">
    <div class="owl-carousel inline-layout">
      <div class="item-slider">
        <div class="item">
          <div class="block_video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
          <div class="name">Все о работе на стройках: большие зарплаты и хорошая работа</div>
        </div>
        <div class="item">
          <div class="block_video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
          <div class="name">ТРУДОУСТРОЙСТВО ЗА РУБЕЖОМ: РЕАЛЬНОСТЬ И ПЕРСПЕКТИВЫ</div>
        </div>
      </div>
      <div class="item-slider">
        <div class="item">
          <div class="block_video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
          <div class="name">Робота на мойке: взвешивание Всех за и против</div>
        </div>
        <div class="item">
          <div class="block_video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
          <div class="name">Все о работе на стройках: большие зарплаты и хорошая работа</div>
        </div>
      </div>
    </div>
  </div>
</div>