
<div class="block_text_consalt">
  <div class="container">
    <div class="item inline-layout">
      <div class="name">Наша миссия:</div>
      <div class="text_desc">Мы улучшаем качество жизни сограждан благодаря выгодным условиям труда</div>
    </div>
    <div class="item inline-layout">
      <div class="name">Наше виденье:</div>
      <div class="text_desc">Стать лидером среди компаний по трудоустройству за границей в Украине благодаря лучшим вакансиям и сервису</div>
    </div><a href="#form_consalt" class="button open_modal">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
  </div>
  <div style="background: url('img/bg/bg_consalt.jpg') no-repeat center" class="bg_consalt"></div>
</div>