
<div class="block_news">
  <div class="list_news inline-layout col-3">
    <div class="item"><a href="article.html">
        <div class="image-holder"><img src="img/content/img-news.jpg" alt="Все о работе на стройках: очень хорошая  зарплата и  работа" class="fake-img"/>
          <div style="background: url(img/content/img-news.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
        </div></a>
      <h4><a href="article.html">Все о работе на стройках: очень хорошая  зарплата и  работа</a></h4>
      <div class="block-info-article inline-layout">
        <time>04.01.2017</time>
        <p class="view-user">15 пользователей</p>
      </div>
      <div class="block_text">
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
      </div><a href="article.html" class="link_more">Подробнее  ></a>
    </div>
    <div class="item"><a href="article.html">
        <div class="image-holder"><img src="img/content/video_img.jpg" alt="Все о работе в офисе: очень хорошая  зарплата и  работа" class="fake-img"/>
          <div style="background: url(img/content/video_img.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
        </div></a>
      <h4><a href="article.html">Все о работе в офисе: очень хорошая  зарплата и  работа</a></h4>
      <div class="block-info-article inline-layout">
        <time>04.01.2017</time>
        <p class="view-user">15 пользователей</p>
      </div>
      <div class="block_text">
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
      </div><a href="article.html" class="link_more">Подробнее  ></a>
    </div>
    <div class="item"><a href="article.html">
        <div class="image-holder"><img src="img/content/video_img2.jpg" alt="ТОп Менеджер: очень хорошая  зарплата и  работа" class="fake-img"/>
          <div style="background: url(img/content/video_img2.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
        </div></a>
      <h4><a href="article.html">ТОп Менеджер: очень хорошая  зарплата и  работа</a></h4>
      <div class="block-info-article inline-layout">
        <time>04.01.2017</time>
        <p class="view-user">15 пользователей</p>
      </div>
      <div class="block_text">
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
      </div><a href="article.html" class="link_more">Подробнее  ></a>
    </div>
    <div class="item"><a href="article.html">
        <div class="image-holder"><img src="img/content/img-news.jpg" alt="Все о работе на стройках: очень хорошая  зарплата и  работа" class="fake-img"/>
          <div style="background: url(img/content/img-news.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
        </div></a>
      <h4><a href="article.html">Все о работе на стройках: очень хорошая  зарплата и  работа</a></h4>
      <div class="block-info-article inline-layout">
        <time>04.01.2017</time>
        <p class="view-user">15 пользователей</p>
      </div>
      <div class="block_text">
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
      </div><a href="article.html" class="link_more">Подробнее  ></a>
    </div>
    <div class="item"><a href="article.html">
        <div class="image-holder"><img src="img/content/video_img.jpg" alt="Все о работе в офисе: очень хорошая  зарплата и  работа" class="fake-img"/>
          <div style="background: url(img/content/video_img.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
        </div></a>
      <h4><a href="article.html">Все о работе в офисе: очень хорошая  зарплата и  работа</a></h4>
      <div class="block-info-article inline-layout">
        <time>04.01.2017</time>
        <p class="view-user">15 пользователей</p>
      </div>
      <div class="block_text">
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
      </div><a href="article.html" class="link_more">Подробнее  ></a>
    </div>
    <div class="item"><a href="article.html">
        <div class="image-holder"><img src="img/content/video_img2.jpg" alt="ТОп Менеджер: очень хорошая  зарплата и  работа" class="fake-img"/>
          <div style="background: url(img/content/video_img2.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
        </div></a>
      <h4><a href="article.html">ТОп Менеджер: очень хорошая  зарплата и  работа</a></h4>
      <div class="block-info-article inline-layout">
        <time>04.01.2017</time>
        <p class="view-user">15 пользователей</p>
      </div>
      <div class="block_text">
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
      </div><a href="article.html" class="link_more">Подробнее  ></a>
    </div>
    <div class="item"><a href="article.html">
        <div class="image-holder"><img src="img/content/img-news.jpg" alt="Все о работе на стройках: очень хорошая  зарплата и  работа" class="fake-img"/>
          <div style="background: url(img/content/img-news.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
        </div></a>
      <h4><a href="article.html">Все о работе на стройках: очень хорошая  зарплата и  работа</a></h4>
      <div class="block-info-article inline-layout">
        <time>04.01.2017</time>
        <p class="view-user">15 пользователей</p>
      </div>
      <div class="block_text">
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
      </div><a href="article.html" class="link_more">Подробнее  ></a>
    </div>
    <div class="item"><a href="article.html">
        <div class="image-holder"><img src="img/content/video_img.jpg" alt="Все о работе в офисе: очень хорошая  зарплата и  работа" class="fake-img"/>
          <div style="background: url(img/content/video_img.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
        </div></a>
      <h4><a href="article.html">Все о работе в офисе: очень хорошая  зарплата и  работа</a></h4>
      <div class="block-info-article inline-layout">
        <time>04.01.2017</time>
        <p class="view-user">15 пользователей</p>
      </div>
      <div class="block_text">
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
      </div><a href="article.html" class="link_more">Подробнее  ></a>
    </div>
    <div class="item"><a href="article.html">
        <div class="image-holder"><img src="img/content/video_img2.jpg" alt="ТОп Менеджер: очень хорошая  зарплата и  работа" class="fake-img"/>
          <div style="background: url(img/content/video_img2.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: cover;" class="img"></div>
        </div></a>
      <h4><a href="article.html">ТОп Менеджер: очень хорошая  зарплата и  работа</a></h4>
      <div class="block-info-article inline-layout">
        <time>04.01.2017</time>
        <p class="view-user">15 пользователей</p>
      </div>
      <div class="block_text">
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
      </div><a href="article.html" class="link_more">Подробнее  ></a>
    </div>
  </div>
</div>