
<div class="category_link_more">
  <h3>Другие  категории вакансиЙ</h3>
  <div class="list-last-news">
    <div class="container inline-layout col-2"><a href="#" class="item">
        <div class="row-table">
          <div class="td-row"><span>сельсько-хозяйственные работы</span></div>
        </div></a><a href="#" class="item">
        <div class="row-table">
          <div class="td-row"><span>Уборка</span></div>
        </div></a><a href="#" class="item">
        <div class="row-table">
          <div class="td-row"><span>Сварщики</span></div>
        </div></a><a href="#" class="item">
        <div class="row-table">
          <div class="td-row"><span>Производство мебели</span></div>
        </div></a>
    </div>
  </div>
</div>