
<div class="category_link_more">
  <h3>Другие вакансии данной категории</h3>
  <div class="list-last-news">
    <div class="container inline-layout col-2"><a href="#" class="item">
        <div class="row-table">
          <div class="td-row"><span>Middle PHP Developer</span></div>
        </div></a><a href="#" class="item">
        <div class="row-table">
          <div class="td-row"><span>PHP developer</span></div>
        </div></a><a href="#" class="item">
        <div class="row-table">
          <div class="td-row"><span>Senior PHP Developer</span></div>
        </div></a><a href="#" class="item">
        <div class="row-table">
          <div class="td-row"><span>Junior программист CMS</span></div>
        </div></a>
    </div>
  </div>
</div>