
<footer>
  <div class="container">
    <nav>
      <ul class="inline-layout">
            <li><a href="about.html">О нас</a></li>
            <li><a href="visa.html">Вакансии</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="feedback.html">Отзывы</a></li>
            <li><a href="contact.html">Контакты</a></li>
            <li><a href="sotrudnichestvo.html">сотрудничество</a></li>
      </ul>
    </nav>
    <div class="logo"><a href="/">Am lingvista<span>Трудоустройство за границей</span></a></div>
    <div class="block_contact inline-layout">
      <div class="item"><i class="fa fa-map-marker"></i>
        <div class="address"><span>УКРАИНА:</span>
          <address>г. Ровно, ул. Кн.Ольги,5</address><a href="tel:+38 /050/ 371 98 00">+38 /050/ 371 98 00</a><a href="tel:+38 /050/ 371 98 00">+38 /050/ 371 98 00</a><a href="tel:+38 /050/ 371 98 00">+38 /050/ 371 98 00</a>
        </div>
      </div>
      <div class="item"><i class="fa fa-map-marker"></i>
        <div class="address"><span>POLAND:</span>
          <address>ul. Sobieskiego, 11 Katowice</address><a href="tel:+48 /500/87 83 62">+48 /500/87 83 62</a>
        </div>
      </div>
      <div class="item social_link"><span>МЫ В СОЦСЕТЯХ</span>
        <ul class="inline-layout">
          <li><a href="#" target="_blank"><i class="fa fa-vk"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-odnoklassniki"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>