
<div class="form_search">
  <div class="container">
    <form>
      <div class="row">
        <div class="form-holder">
          <input type="text" placeholder="введите название вакансии" data-validate="name" value=""/>
        </div>
        <div class="form-holder specialization">
          <select name="specialization" data-validate="select">
            <option value="" checked="checked">все специализации</option>
            <option value="2">специализации 1</option>
            <option value="3">специализации 2</option>
          </select>
        </div>
        <div class="form-holder country">
          <select name="country" data-validate="select">
            <option value="" checked="checked">Страна</option>
            <option value="2">Страна 1</option>
            <option value="3">Страна 2</option>
          </select>
        </div>
        <div class="form-holder price">
          <input type="text" placeholder="Зарплата от" data-validate="number-default" value=""/>
        </div>
        <div class="form-holder currency">
          <select name="currency" data-validate="select">
            <option value="" checked="checked">Валюта</option>
            <option value="2">Валюта 1</option>
            <option value="3">Валюта 2</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-holder checkbox">
          <input type="checkbox" id="checkbox1" name="checkbox1"/>
          <label for="checkbox1">бесплатные вакансии</label>
        </div>
        <div class="form-holder checkbox">
          <input type="checkbox" id="checkbox2" name="checkbox2"/>
          <label for="checkbox2">ГОрящие вакансии</label>
        </div>
        <div class="form-holder checkbox">
          <input type="checkbox" id="checkbox3" name="checkbox3"/>
          <label for="checkbox3">с видео отзывом</label>
        </div>
        <div class="form-holder">
          <input type="submit" value="Поиск"/>
        </div>
      </div>
    </form>
  </div>
</div>