
<div class="block-last-news">
  <h3>Другие новости</h3>
  <div class="list-last-news inline-layout col-2">
    <div class="item"><a href="article.html">
        <h4>Все о работе на стройках: очень хорошая  зарплата и  работа</h4>
        <div class="block-info-article inline-layout">
          <time>04.01.2017</time>
          <p class="view-user">15 пользователей</p>
        </div></a></div>
    <div class="item"><a href="article.html">
        <h4>Все о работе на стройках: очень хорошая  зарплата и  работа</h4>
        <div class="block-info-article inline-layout">
          <time>04.01.2017</time>
          <p class="view-user">4 пользователя</p>
        </div></a></div>
    <div class="item"><a href="article.html">
        <h4>Все о работе на стройках: очень хорошая  зарплата и  работа</h4>
        <div class="block-info-article inline-layout">
          <time>04.01.2017</time>
          <p class="view-user">4 пользователя</p>
        </div></a></div>
    <div class="item"><a href="article.html">
        <h4>Все о работе на стройках: очень хорошая  зарплата и  работа</h4>
        <div class="block-info-article inline-layout">
          <time>04.01.2017</time>
          <p class="view-user">4 пользователя</p>
        </div></a></div>
  </div>
</div>