
<div style="animation-delay: 0.3s" data-wow-delay="0.3s" class="block-last-news wow fadeIn">
  <div class="container">
    <h2>Последные новости</h2>
    <div class="block_desc">
      <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
    </div>
    <div class="list-last-news">
      <div class="inline-layout col-2">
        <div class="item"><a href="article.html">
            <h4>Все о работе на стройках: очень хорошая  зарплата и  работа</h4>
            <div class="block-info-article inline-layout">
              <time>04.01.2017</time>
              <p class="view-user">15 пользователей</p>
            </div></a></div>
        <div class="item"><a href="article.html">
            <h4>Все о работе на стройках: очень хорошая  зарплата и  работа</h4>
            <div class="block-info-article inline-layout">
              <time>04.01.2017</time>
              <p class="view-user">4 пользователя</p>
            </div></a></div>
        <div class="item"><a href="article.html">
            <h4>Все о работе на стройках: очень хорошая  зарплата и  работа</h4>
            <div class="block-info-article inline-layout">
              <time>04.01.2017</time>
              <p class="view-user">4 пользователя</p>
            </div></a></div>
        <div class="item"><a href="article.html">
            <h4>Все о работе на стройках: очень хорошая  зарплата и  работа</h4>
            <div class="block-info-article inline-layout">
              <time>04.01.2017</time>
              <p class="view-user">4 пользователя</p>
            </div></a></div>
      </div>
    </div>
  </div>
</div>