
<div class="list_category_article">
  <h3>категории вакансиЙ</h3>
  <div class="list_category">
    <div class="container inline-layout col-2">
      <div class="item"><a href="#">СТО</a></div>
      <div class="item"><a href="#">Сварщики</a></div>
      <div class="item"><a href="#">Производство мебели</a></div>
      <div class="item"><a href="#">Сельсько-хозяйственные работы Сельсько-хозяйственные работы</a></div>
      <div class="item"><a href="#">Гастрономия</a></div>
      <div class="item"><a href="#">Текстильное производство</a></div>
      <div class="item"><a href="#">Пищевая Промышленность</a></div>
      <div class="item"><a href="#">Водители, карщики</a></div>
      <div class="item"><a href="#">Строительные работы</a></div>
      <div class="item"><a href="#">Промишленность</a></div>
      <div class="item"><a href="#">ІТ-сфера</a></div>
      <div class="item"><a href="#">Специалисты</a></div>
      <div class="item"><a href="#">Работа на складах и упаковка</a></div>
      <div class="item"><a href="#">Уборка</a></div>
    </div>
  </div>
</div>