
<div id="overlay"></div>
<div id="form_consalt" class="modal_div">
  <div class="modal_close"></div>
  <div class="modal-content">
    <div class="form-contact">
      <form>
        <h4>Получить консультацию</h4>
        <p>Поля отмечены&nbsp;<span>*</span>&nbsp;обязательны для заполнения</p>
        <div class="form-group">
          <input type="text" placeholder="введите ваше имя *" name="name" data-validate="name"/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="номер телефона *" name="phone" data-validate="phone"/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="E-mail" name="email" data-validate="email-default"/>
        </div>
        <div class="form-group">
          <textarea placeholder="Ваш вопрос" name="comment" data-validate="empty"></textarea>
        </div>
        <div class="form-group input-file-form clearfix">
          <input type="file" name="file"/>
          <div class="fake-input-file"></div>
        </div>
        <div class="form-group clearfix">
          <input type="submit" value="Отправить"/>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="form_call" class="modal_div">
  <div class="modal_close"></div>
  <div class="modal-content">
    <div class="form-contact">
      <form>
        <h4>Обратный звонок</h4>
        <p>Поля отмечены&nbsp;<span>*</span>&nbsp;обязательны для заполнения</p>
        <div class="form-group">
          <input type="text" placeholder="введите ваше имя *" name="name" data-validate="name"/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="номер телефона *" name="phone" data-validate="phone"/>
        </div>
        <div class="form-group">
          <textarea placeholder="Комментарий" name="comment" data-validate="empty"></textarea>
        </div>
        <div class="form-group clearfix">
          <input type="submit" value="Отправить"/>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="form_rezume" class="modal_div">
  <div class="modal_close"></div>
  <div class="modal-content">
    <div class="form-contact">
      <form>
        <h4>ОТправить резюме</h4>
        <p>Поля отмечены&nbsp;<span>*</span>&nbsp;обязательны для заполнения</p>
        <div class="form-group">
          <input type="text" placeholder="ваше имя *" name="name" data-validate="name"/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Фамилия *" name="surname" data-validate="name"/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="номер телефона *" name="phone" data-validate="phone"/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="E-mail *" name="email" data-validate="email"/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Возраст *" name="year" data-validate="quantity"/>
        </div>
        <div class="form-group">
          <select name="passport" data-validate="select">
            <option value="0" checked="checked">Наличие загранпаспорта *</option>
            <option value="2">Есть</option>
            <option value="3">Нет</option>
          </select>
        </div>
        <div class="form-group">
          <select name="visa" data-validate="select">
            <option value="0" checked="checked">Открытые рабочие визы *</option>
            <option value="2">Есть</option>
            <option value="3">Нет</option>
          </select>
        </div>
        <div class="form-group">
          <textarea placeholder="Комментарий" name="comment" data-validate="empty"></textarea>
        </div>
        <div class="form-group input-file-form clearfix">
          <input type="file" name="file"/>
          <div class="fake-input-file"></div>
        </div>
        <div class="form-group checkbox">
          <input type="checkbox" id="checkbox-yes" name="checkbox-yes"/>
          <label for="checkbox-yes">Я даю согласие на обработку моих персональных данных для компании "АМ Лингвсита"</label>
        </div>
        <div class="form-group clearfix">
          <input type="submit" value="Отправить"/>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="sertuficat1" class="modal_div">
  <div class="modal_close"></div>
  <div class="modal-content">
    <div class="form-contact">
      <div class="image-holder"><img src="img/content/doc-full.jpg" alt="name" class="fake-img"/>
        <div style="background: url('img/content/doc-full.jpg') no-repeat;background-position: center ;background-repeat: no-repeat;background-size: contain;" class="img"></div>
      </div>
    </div>
  </div>
</div>