
<header class="home">
  <div id="video_background">
    <video autoplay="" muted="" loop="">
      <source src="/img/content/play.mp4" type="video/mp4"/>
    </video>
  </div>
  <div class="container">
    <div style="animation-delay: 0.9s" data-wow-delay="0.9s" class="logo wow slideInLeft"><a href="/">Am lingvista<span>Трудоустройство за границей</span></a></div>
    <nav>
      <ul class="inline-layout">
            <li><a href="about.html">О нас</a></li>
            <li><a href="visa.html">Вакансии</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="feedback.html">Отзывы</a></li>
            <li><a href="contact.html">Контакты</a></li>
      </ul>
    </nav>
    <div class="block_phone"><a href="tel:+38 /067/ 362 04 74">+38 /067/ 362 04 74</a><a href="tel:+38 /050/ 371 98 00">+38 /050/ 371 98 00</a><a href="tel:+38 /050/ 111 11 11">+38 /050/ 111 11 11</a></div>
    <div class="block_button"><a href="#form_rezume" class="button open_modal">добавить резюме</a><a href="#form_call" class="button open_modal">Обратный звонок</a></div>
    <div class="block_lang"><a href="#" class="active">РУС</a><a href="#">УКР</a></div>
    <div class="menu-icon-open"><span></span></div>
    <div class="menu_mobile">
      <div class="menu-icon-close"><span></span></div>
      <div class="menu-holder">
        <nav>
          <ul class="inline-layout">
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="visa.html">Вакансии</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="feedback.html">Отзывы</a></li>
                    <li><a href="contact.html">Контакты</a></li>
          </ul>
        </nav>
        <div class="block_lang"><a href="#" class="active">РУС</a><a href="#">УКР</a></div>
      </div>
    </div>
  </div>
  <div class="text_header">
    <div class="block_text">
      <div>
        <h2 style="animation-delay: 0.3s" data-wow-delay="0.3s" class="wow slideInRight">Легальная работа в Европе</h2>
        <p>от 500 до 1500 долларов в месяц</p><a href="#form_consalt" class="button open_modal">Получить консультацию</a>
      </div>
    </div><a style="animation-delay: 1.2s" data-wow-delay="1.2s" href="#block_vacancy" class="button_down wow feature"><span></span><span></span><span></span></a>
  </div>
</header>
<div class="block_phone_fixed"><a href="tel:+38 /067/ 362 04 74">+38 /067/ 362 04 74</a></div>