.pistol88-cart-block .dropdown-menu {
    min-width: 280px;
    padding: 10px;
}

.pistol88-cart-block .dropdown-menu {
    padding: 5px;
}

.pistol88-cart .pistol88-cart-delete-button {
    padding: 4px;
    margin: 1px;
}

.pistol88-cart ul {
    list-style: none;
    padding: 1px;
    margin: 1px;
}

.pistol88-change-count input {
    text-align: center;
    width: 40px;
}

.pistol88-cart-show-options {
    font-size: 80%;
}

.pistol88-cart-row {
    margin-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
}
