.oakcms-relations-list {
    list-style: none;
    margin: 2px;
    padding: 2px;
}
.oakcms-relations-list a {
    background-color: #f4f4f4;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    padding: 3px;
    display: block;
    color: black;
}

.oakcms-relations-list a:hover {
    background-color: #fff;
}

.oakcms-relations-list a.selected {
    border: 2px solid green;
}

.oakcms-relation-delete {
    color: red;
}

.oakcms-relation-row {
    padding: 2px;
}

.oakcms-relations-list p {
    padding: 1px;
    margin: 1px;
}

.oakcms-relations-search {
    padding: 3px;
}
