.dashicons-admin-widgetkit {
    background: url(../images/widgetkit-20-wp.svg) 50% 50% no-repeat
}

a:hover > .dashicons-admin-widgetkit {
    background-image: url(../images/widgetkit-20-wp-hover.svg)
}

a.current > .dashicons-admin-widgetkit {
    background-image: url(../images/widgetkit-20-wp-active.svg)
}

.widgetkit-editor > span {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin: 0 2px;
    background: url(../images/widgetkit-18-wp.svg) 50% 50% no-repeat
}
